@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap');

body{
  background: #F7F8FA;
}
.header{
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}
.header-left h3{
  color:#1875F0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}
.header-right ul li{
  float: left;
  list-style-type: none;
  margin-left:30px;
  color: #647787;
}
ul{
  padding: 0;
  margin: 0
}
.header-right{
  font-family: Segoe UI;
}
.round-img{
  border-radius: 50%
}
.small-name{
  font-size: 13px;
}
.big-name{
  margin-top: -25px;
  width: auto;
  font-size: 19px
}
.notification{
  position: relative;
}
.search-input{
  border-style: none;
}
.search-input:focus, .search-input:target{
  border-style: none;
  outline: none
}
.badge{
  position: absolute;
  top:0;
  right:1px;
  background-color: blue;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 10px;
  border-radius: 50%;
}