@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap');

body{
  background: #F7F8FA;
}
.header{
  overflow: auto;
  background: #FFFFFF;
  height: 60px;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  z-index: 4;
}
.header-left h3{
  color:#1875F0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}
.header-right ul li{
  float: left;
  font-size: 14px;
  list-style-type: none;
  margin-left:34px;
  color: #647787;
}
.header-right ul{
  padding: 0;
  margin: 0
}
.searchbox{
  margin-left: 100px;
}
.header-right{
  font-family: Segoe UI;
}
.round-img{
  border-radius: 50%
}
.small-name{
  font-size: 13px;
}
.big-name{
  margin-top: -20px;
  width: auto;
  font-size: 14px
}
.notification{
  position: relative;
}
.search-input{
  border-style: none;
  font-size: 14px;
}
.search-input:focus, .search-input:target{
  border-style: none;
  outline: none
}
.badge{
  position: absolute;
  top:0;
  right:0;
  background-color: blue;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 10px;
  border-radius: 50%;
  margin-top: -6px
}
.sidebar{
  padding-top: 33px;
  width: 260px !important;
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  margin-top: 2px;
  flex-direction: column;
  margin-right: 29px;
}
.invoice-btn{
  background: #27AE60;
  width: 163px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  height: 33px;
  margin-left:31px;
  border-style: none;
  border-radius: 30px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.sidebar-main{
  margin-left:31px;
}
.sidebar-main p{
  font-family: Segoe UI;
  font-size: 11px;
  color: #647787;
  margin-bottom: 0;
}
.body{
  width: 86%;
  height: 100vh;
  margin-right: 43px;
  margin-top: 33px;
}
.highlight{
  margin-bottom: 27px;
}
.highlight-item{
  width: 253px;
  height: 75px;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding:18px 19px
}
.highlight-item p{
  font-size: 12px
}
.figures{
  margin-top: -10px
}
.charts{
  height: 329px;
  width: 100%;
  background-color: #ffffff
}
.charts-left{
  width:689px;
  height: 100%;
  background-color: #FFFFFF;
  border-right: 4px solid #F7F8FA;
}
.range-dropdown ul{
  width: 138px !important;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid #DDE0E3
}
.range-dropdown ul li{
  list-style-type: none;
  padding:6px 10px;
  cursor: pointer;
  color: #7F8FA4;
}
.range-dropdown ul li:hover{
  background: #F4F4F4;
}
.range-dropdown button{
  width: 138px;
  background-color: #ffffff;
  border: 1px solid #DDE0E3;
  border-radius: 4.25px;
  color: #7F8FA4;
  font-size: 12px;
  height: 31px;
}
.range-dropdown button:focus, .range-dropdown button:target{
  outline: none;
}
.range-dropdown{
  width: 138px;
  position: relative;
}
.arrow-holder{
  width: 30px;
  border: 1px solid #DDE0E3;
  border-radius: 4px;
  height: 23px;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  width: 305px;
  height: 4px;
}
progress[value]::-webkit-progress-bar {
  background-color: #FDC203;
  border-radius: 2px;
  margin-top:-15px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: #27AE60;
  border-radius: 2px; 
}
.charts-right p{
  font-size: 14px;
  color: #262626;
  margin-top:-5px;
  margin-bottom: 10px !important;
  padding: 0 !important
}